$white: #fff;
$main-theme: #2f80ed;
$theme-subtitle: #545454;
$red: #eb5757;
$grey: #bdbdbd;
$green: #6fcf97;

@mixin flex-grow($size) {
    flex-grow: $size;
    -ms-flex-grow: $size;
    -moz-flex-grow: $size;
    -webkit-flex-grow: $size;
}

html,
body {
    background-color: $white;
    margin: 0;
    padding: 0;
}

#nav {
    position: fixed;
    width: 100vw;
    min-height: 60px;
    z-index: 10;
    transition: ease-out .3s;

    .nav-item {
        display: inline-block;
        padding: 20px 25px;

        color: $white;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.5em;
        text-decoration: none;
    }
}

.solid-nav {
  background-color: $main-theme;
  transition: ease-in .3s;
}

#header {
    height: 100vh;
    overflow: hidden;

    #header-image {
        min-height: 100vh;
        min-width: 100vw;
        float: right;
        position: relative;

        pointer-events: none;
        cursor: default;
    }

    #header-text {
        position: absolute;
        right: 5vw;
        bottom: 15vh;

        color: $white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        text-align: right;
        font-family: 'Josefin Sans', sans-serif;

        #header-title {
            font-size: 5em;
        }

        #header-subtitle {
            font-size: 1.5em;
        }
    }

    #chevrons-down svg {
        width: 2.5em;
        height: 2.5em;

        position: absolute;
        color: $white;
        left: 50vw;
        bottom: 5vh;
    }
}

@media screen and (max-width: 768px) {
    #header {
        #header-image {
            min-height: 125%;
        }
    }
}

#body {
    padding: 75px 10vw 0px;

    h1 {
        color: $main-theme;
        font-family: 'Josefin Sans', sans-serif;
        text-align: center;
    }

    p {
        font-family: 'Roboto', sans-serif;
        text-align: center;


        &.italics {
            font-style: italic;
        }
        
        .subheading {
            font-size: 1.5em;
            font-weight: bold;
        }

        .subtitle {
            color: $theme-subtitle;
        }
    }

    ul {
        list-style-type: none;

        li {
            padding-bottom: 10vh;
            width: 100%;
            display: inline-block;

            .left-panel {
            width: 50%;
            float: left;

                .sell-image {
                    width: 30vw;
                    position: relative;
                }
            }

            .right-panel {
                width: 50%;
                float: right;

                .sell-text {
                    text-align: left;
                    white-space: pre-wrap;
                }
            }
        }
    }

    table {
        font-family: 'Roboto', sans-serif;
        border: 1px solid $main-theme;
        border-collapse: collapse;
        margin: 0 auto;

        th {
            background-color: $main-theme;
            border: none;
            padding: 15px;
            color: $white;
        }

        tr {
            td {
                padding: 15px;
            }
                
            &.upcoming {
                background-color: lighten($main-theme, 35%);
            }
        }
    }

    .flex {
        display: -webkit-flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
    }

    @media screen and (max-width: 640px) {
        .flex {
            -ms-flex-wrap: wrap;
            flex: 1 1 0;
            .flex-50 {
                width: 100%;
                text-align: center;

                .sell-text {
                    text-align: center;
                }
            }
            
            .flex-33 {
                width: 100%;
                flex-wrap: wrap;
            }
        }
    }

    @media screen and (min-width: 641px) {
        .flex {
            .flex-50 {
                width: 50%;
                @include flex-grow(1);
            }

            .flex-33 {
                width: calc(100%/3);
                @include flex-grow(1);
            }
        }
    }

    .point {
        display: inline-block;
        width: 33.33333333%;
        vertical-align: top;

        .point-icon {
            height: 75px;
            width: 75px;
            position: relative;
            left: 50%;
            margin-left: -37.5px;
        }

        .target-icon {
            color: $red;
        }

        .gun-icon {
            color: $grey;
            width: 120px;
            margin-left: -60px;
            pointer-events: none;
            cursor: default;
        }

        .crosshair-icon {
            color: $green;
        }

        p {
            padding: 1em;
        }
    }

    .contact-icon {
    height: 1em;
    width: 1em;
    padding-right: 10px;
    }
}
